<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.intellispirit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/intellispiritlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/intellispiritlogo"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".UserProfilePages.Profile_Principal"></activity>
        <activity android:name=".UserProfilePages.Profile_Admin" />
        <activity android:name=".UserProfilePages.Profile_Teacher" />
        <activity android:name=".SplashScreen.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserProfilePages.Profile_Student" />
        <activity android:name=".UserHomePages.Principal_Activity" />
        <activity android:name=".UserHomePages.Admin_Activity" />
        <activity android:name=".UserHomePages.Teacher_Activity" />
        <activity
            android:name=".LoginPage.LoginActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".UserHomePages.MainActivity" />
        <activity android:name=".Adapters.TermSubjectActivity" />
    </application>

</manifest>